environments/production/data/app/*
!environments/production/data/app/.gitkeep
environments/production/data/database/*
!environments/production/data/database/.gitkeep
environments/production/private/*
!environments/production/private/.gitkeep

environments/staging/data/app/*
!environments/staging/data/app/.gitkeep
environments/staging/data/database/*
!environments/staging/data/database/.gitkeep
environments/staging/private/*
!environments/staging/private/.gitkeep


environments/develop/data/app/*
!environments/develop/data/app/.gitkeep
environments/develop/data/database/*
!environments/develop/data/database/.gitkeep
environments/develop/private/*
!environments/develop/private/.gitkeep

export-image





